.map {
  width: 100%;
  height: 400px;
}

.synch-map {
  width: 100%;
  height: 400px;
  display: inline-block;
}

.top {
  padding-top: 5rem;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

.plots {
  width: 50%;
  box-sizing: border-box;
}

.cong-dist {
  filter: contrast(130%) grayscale(100%);
  -webkit-filter: contrast(130%) grayscale(100%);
  -moz-filter: contrast(130%) grayscale(100%);
  -ms-filter: contrast(130%) grayscale(100%);
  -o-filter: contrast(130%) grayscale(100%);
}

div#map, div#map1 {
    border-radius: .4rem;
}

button#submit {
    margin-top: 3rem;
}

/* The radio */
.radio {
    display: block;
    position: relative;
    padding-left: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkmark {
    background-color: #555;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
 	top: 7px;
	left: 7px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
}
/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
/*.radio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}*/

span.radio-text {
    padding-left: 2.25rem;
}
