.map {
  width: 100%;
  height: 400px;
}
.synch-map {
width: 100%;
height: 400px;
display: inline-block;
}

.top {
    padding-top: 5rem;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}
