


<footer class="row">
  <div class="column">


    <div id ="credit">
      <ul class="code">

            <li class="code">
              <a href="//github.com/oliviaguest/redistrict" title="Fork on GitHub" style="text-decoration:none">
                <i class="fa fa-github"></i>
              </a>
            </li>

            <li class="code">
              <a href="//osf.io/5fepu/" title="View on OSF" style="text-decoration:none">
                <i class="ai ai-osf"></i>
              </a>
            </li>

          </ul>
      <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>, <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a>, <a href="http://oliviaguest.com">Olivia Guest</a>, 2017


    </div>


  </div>
</div>





{% include ga.html %}
