<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@DrLoveBC" />
  <meta name="twitter:creator" content="@o_guest" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image" content="{{ site.url }}/images/website_preview.png" />
  <meta property="article:author" content="Olivia Guest, Frank J. Kanaye, Bradley C. Love" />
  <meta property="article:publisher" content="arXiv" />
  <!-- todo: include this into main.css -->
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lora|Montserrat:300,300i" rel="stylesheet">

  <!-- CSS Reset -->
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="{{ " /css/likely.css " | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ " /css/milligram.css " | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ " /css/style.css " | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}">



  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg==" crossorigin=""></script>

  <script src="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js"></script>
  <script src="/scripts/chroma.min.js"></script>

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.9.2/leaflet-geocoder-mapzen.css"> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.9.2/leaflet-geocoder-mapzen.js"></script> -->
  <link rel="stylesheet" href="/css/L.Control.ZoomMin.css" media="screen">
  <link rel="stylesheet" href="/css/L.Control.Geocoder.css" media="screen">

  <script src="{{ " /scripts/L.Control.Geocoder.js " | prepend: site.baseurl }}"></script>
  <script src="{{ " /scripts/L.Control.ZoomMin.min.js " | prepend: site.baseurl }}"></script>
  <script src="{{ " /scripts/L.Map.Sync.min.js " | prepend: site.baseurl }}"></script>
  <script src="{{ " /scripts/likely.min.js " | prepend: site.baseurl }}"></script>
  <!-- <script src="{{ " /scripts/ip.js " | prepend: site.baseurl }}"></script> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//oliviaguest.com/academicons/css/academicons.css">
</head>
