<div class="row">
  <div class="column">
    <h1>Gerrymandering and<br>
        Computational Redistricting</h1>
    <div id="authors">Olivia Guest
      <a href="//github.com/oliviaguest/" title="Olivia's GitHub" style="text-decoration:none;font-size:1.75rem"><i class="fa fa-github"></i></a>
      <a href="//twitter.com/o_guest/" title="Olivia's Twitter" style="text-decoration:none;font-size:1.7rem"><i class="fa fa-twitter"></i></a>,
      Frank J. Kanayet
      <a href="//github.com/franink/" title="Frank's GitHub" style="text-decoration:none;font-size:1.75rem"><i class="fa fa-github"></i></a>,
      and Bradley C. Love
      <a href="//github.com/lovebc/" title="Brad's GitHub" style="text-decoration:none;font-size:1.75rem"><i class="fa fa-github"></i></a>
      <a href="//twitter.com/ProfData/" title="Brad's Twitter" style="text-decoration:none;font-size:1.7rem"><i class="fa fa-twitter"></i></a>
    </div>
    {% if page.share %} {% include social.html %} {% endif %}

  </div>
</div>

<div class="row">
  <div class="column">
    <h2>Welcome</h2>

    <p>Partisan gerrymandering poses a threat to democracy. One solution is using computers to draw the district lines instead of relying on politicians. To learn more about gerrymandering and our computer-based solution, please read "<a href="https://arxiv.org/abs/1711.04640"><i>Gerrymandering and Computational Redistricting</i></a>" by <a href="//oliviaguest.com">Olivia Guest</a>, <a href="https://scholar.google.com/citations?user=olyAU-cAAAAJ">Frank J. Kanayet</a>, and <a href="//bradlove.org">Bradley C. Love</a>. This interactive website accompanies that paper and shows how computers can improve the districting process.</p>

    <p>The data and code used for these simulations can be found on the OSF repository <a href="https://osf.io/5fepu/">osf.io/5fepu</a> and the <a href="https://github.com/oliviaguest/redistrict/">redistrict</a> github repository.</p>

  </div>
  <div class="column">
    <h2>Maps</h2>

    <p>Below are two interactive maps showing the existing districts<span class="single-column-hidden"> (left column)</span><span class="single-column-visible"> (top map)</span> and the results from our weighted <i>k</i>-means algorithm<span class="single-column-hidden"> (right column)</span>
      <span class="single-column-visible"> (bottom map)</span>. The colors used are to facilitate viewing and are randomly assigned to each congressional district — except in the case of states with at-large districts (i.e., a single district), which have no color.</p>
    <p>
      Moving your cursor over a state highlights its border in black. Clicking on a state zooms both maps in, allowing you to see the state's districts close up for both reality and our solution. To find a specific location click on the magnifying glass, on
      the top left of both maps, to open up a search box.</p>
  </div>
</div>

<div class="row">
  <div class="column">
    <h3>Existing Solution</h3>
    <div id="map" class="synch-map"></div>
  </div>

  <div class="column">
    <h3>Clustering Solution</h3>
    <div id="map1" class="synch-map"></div>
  </div>
</div>

<script async="async" src="{{ site.url }}/scripts/cong_dist.js"></script>

<div class="row">
  <div class="column">
    {% if page.share %} {% include social.html %} {% endif %}
  </div>
</div>

<div class="row">
    <div id="feedback" name="feedback" class="column" style="display:none">
      <h2>US citizens, have your say!</h2>
      <p><i>Do you prefer your state’s existing solution for districting or the clustering solution?</i></p>

    </div>
</div>

<div class="row">
  <div class="column">
    <form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbzyUYt--_jBuZCGtyT00nbXBvkGLSEnCFdZ4TCNp1VxKY-7ozP7/exec">

      <input id="honeypot" type="text" name="honeypot" value="" style="display:none" />
      <input id="city" name="city" style="display:none" />
      <input id="country" name="country" style="display:none" />
      <input id="hostname" name="hostname" style="display:none" />
      <input id="ip" name="ip" style="display:none" />
      <input id="loc" name="loc" style="display:none" />
      <input id="org" name="org" style="display:none" />
      <input id="postal" name="postal" style="display:none" />
      <input id="region" name="region" style="display:none" />

      <label id="label-state" for="state">Select your state:</label>
      <select id="state" name="state"></select>

      <span id="radio" style="display:none">
        <label for="preference" id="preference-q"></label>
        <div class="clearfix">
          <label class="radio float-left plots">
            <img id="left-image" />
            <input type="radio" name="preference" value="congdist">
            <span class="checkmark"></span>
            <div id="left-radio-text" class="radio-text"></div>
          </label>

          <label class="radio float-right plots">
            <img id="right-image" />
            <input type="radio" name="preference" value="clusters">
            <span class="checkmark"></span>
            <div id="right-radio-text" class="radio-text"></div>
          </label>
        </div>
      </span>

      <div id="warning" style="display:none">
        Please choose a map you prefer!
      </div>
  <input id="clusters-right" name="clusters-right" style="display:none" />
  <input id="url" name="url" style="display:none" value="{{ site.github.repository_url }}" />

  <button id="next" type="button" value="Next">Next</button>

  <button id="submit" type="submit" value="Submit" style="display:none">Submit</button>

  </form>
  <!-- Customise the Thankyou Message People See when they submit the form: -->
  <div style="display:none;" id="thankyou_message">
    Thank you for the feedback!
  </div>
  <!-- Submit the Form to Google Using "AJAX" -->
  <script data-cfasync="false" type="text/javascript" src="{{ " /scripts/form-submission-handler.js " | prepend: site.baseurl }}"></script>
</div>

</div>
<div class="row">
  <div class="column">
    {% if page.share %} {% include social.html %} {% endif %}
  </div>
</div>
<div class="row">
  <div class="column">
    {% if page.comments %}
    <h2>Comments</h2> {% include disqus.html %} {% endif %}
  </div>
</div>

<div class="row">
  <div class="column">
    {% if page.share %} {% include social.html %} {% endif %}
  </div>
</div>



<!-- <h3>Client side IP geolocation using <a href="http://ipinfo.io">ipinfo.io</a></h3> -->
<!-- <div id="ip"></div> -->
<!-- <div id="address"></div> -->
<!-- Full response: <pre id="details"></pre> -->
