<div class="row">
  <div class="column">
    <h1>Gerrymandering and<br>
        Computational Redistricting</h1>
    <div id="authors">Olivia Guest, Frank J. Kanayet, and Bradley C. Love</div>
    {% if page.share %} {% include social.html %} {% endif %}

  </div>
</div>

<div class="row">
  <div class="column">
    <h2>Welcome</h2>

    <p>This is the website accompanying the manuscript <i>Gerrymandering and Computational Redistricting</i> by <a href="//oliviaguest.com">Olivia Guest</a>, <a href="https://scholar.google.com/citations?user=olyAU-cAAAAJ">Frank J. Kanayet</a>, and <a href="//bradlove.org">Bradley C. Love</a>.</p>

    <!-- <p>For the materials used, please see the Open Framework Repository, here: <a href="https://osf.io/5fepu/">osf.io/5fepu</a>. That repository will contain: (
      <emph>a</emph>) the code used to create the maps, perform the clustering, etc.; (
      <emph>b</emph>) instructions on how to download the data used to carry out the redistricting from the <a href="https://www.census.gov/geography.html">US Census Bureau</a>; (
      <emph>c</emph>) individual maps per state which show the districts as they are and our solutions; along with (
      <emph>e</emph>) links to any other code or materials used.
    </p> -->
    <h2>Code and Data</h2>
    Code is on GitHub, data is on OSF.
    <ul class="code">

          <li class="code">
            <a href="//github.com/oliviaguest/redistrict" title="Fork on GitHub" style="text-decoration:none">
              <i class="fa fa-github"></i>
            </a>
          </li>

          <li class="code">
            <a href="//osf.io/5fepu/" title="View on OSF" style="text-decoration:none">
              <i class="ai ai-osf"></i>
            </a>
          </li>

        </ul>

  </div>
  <div class="column">
    <h2>Maps</h2>

    <p>Below are two interactive maps showing the existing districts<span class="single-column-hidden"> (left column)</span><span class="single-column-visible"> (top map)</span> and the results from our weighted <i>k</i>-means algorithm<span class="single-column-hidden"> (right column)</span>
      <span class="single-column-visible"> (bottom map)</span>. The colors used are to facilitate viewing and are randomly assigned to each congressional district — except in the case of states with <a href="https://en.wikipedia.org/wiki/At-large#States_with_at-large_congressional_districts">at-large districts</a>      (i.e., a single district), which have no color.</p>
    <p>
      Moving your cursor over a state highlights its border in black. Clicking on a state zooms both maps in, allowing you to see the state's districts close up for both reality and our solution. To find a specific location click on the magnifying glass, on
      the top left of both maps, to open up a search box.</p>
  </div>
</div>

<div class="row">
  <div class="column">
    <h3>Existing Solution</h3>
    <div id="map" class="synch-map"></div>
  </div>

  <div class="column">
    <h3>Clustering Solution</h3>
    <div id="map1" class="synch-map"></div>
  </div>
</div>

<script async="async" src="{{ site.url }}/scripts/cong_dist.js"></script>
<!-- <script src="./scripts/test.js"></script> -->

<div class="row">
  <div class="column">
    {% if page.share %} {% include social.html %} {% endif %}
  </div>
</div>

<div class="row">
  <div class="column">

    <div id="feedback" name="feedback" class="column" style="display:none">
      <h2>Feedback</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbzyUYt--_jBuZCGtyT00nbXBvkGLSEnCFdZ4TCNp1VxKY-7ozP7/exec">

      <input id="honeypot" type="text" name="honeypot" value="" style="display:none" />
      <input id="city" name="city" style="display:none" />
      <input id="country" name="country" style="display:none" />
      <input id="hostname" name="hostname" style="display:none" />
      <input id="ip" name="ip" style="display:none" />
      <input id="loc" name="loc" style="display:none" />
      <input id="org" name="org" style="display:none" />
      <input id="postal" name="postal" style="display:none" />
      <input id="region" name="region" style="display:none" />

      <label id="label-state" for="state">Select your state:</label>
      <select id="state" name="state"></select>

      <span id="radio" style="display:none">
        <label for="preference" id="preference-q"></label>
        <div class="clearfix">
          <label class="radio float-left plots">
            <img id="left-image" />
            <input type="radio" name="preference" value="congdist">
            <span class="checkmark"></span>
            <div class="radio-text">Real districts</div>
          </label>

          <label class="radio float-right plots">
            <img id="right-image" />
            <input type="radio" name="preference" value="clusters">
            <span class="checkmark"></span>
            <div class="radio-text">Our clusters</div>
          </label>
        </div>
      </span>

      <div id="warning" style="display:none">
        Please choose a map you prefer!
      </div>
  <input id="clusters-right" name="clusters-right" style="display:none" />
  <input id="url" name="url" style="display:none" value="{{ site.github.repository_url }}" />

  <button id="next" type="button" value="Next">Next</button>

  <button id="submit" type="submit" value="Submit" style="display:none">Submit</button>

  </form>
  <!-- Customise the Thankyou Message People See when they submit the form: -->
  <div style="display:none;" id="thankyou_message">
    Thank you for the feedback!
  </div>
  <!-- Submit the Form to Google Using "AJAX" -->
  <script data-cfasync="false" type="text/javascript" src="{{ " /scripts/form-submission-handler.js " | prepend: site.baseurl }}"></script>
</div>

</div>
<div class="row">
  <div class="column">
    {% if page.share %} {% include social.html %} {% endif %}
  </div>
</div>
<div class="row">
  <div class="column">
    {% if page.comments %}
    <h2>Comments</h2> {% include disqus.html %} {% endif %}
  </div>
</div>

<div class="row">
  <div class="column">
    {% if page.share %} {% include social.html %} {% endif %}
  </div>
</div>



<!-- <h3>Client side IP geolocation using <a href="http://ipinfo.io">ipinfo.io</a></h3> -->
<!-- <div id="ip"></div> -->
<!-- <div id="address"></div> -->
<!-- Full response: <pre id="details"></pre> -->
