<div class="row">
    <div class="column">
      <h1>Gerrymandering and<br>
        Computational Redistricting</h1>
        <div id="authors">Olivia Guest, Frank J. Kanayet, and Bradley C. Love</div>
    </div>
</div>

<div class="row">
    <div class="column">
      <h2>Welcome</h2>

      <p>This is the website accompanying the manuscript <i>Gerrymandering and Computational Redistricting</i> by <a href="//oliviaguest.com">Olivia Guest</a>, Frank J. Kanayet, and <a href="//bradlove.org">Bradley C. Love</a>.</p>

      <p>For the materials used, please see the Open Framework Repository, here: <a href="https://osf.io/8xpq4/">osf.io/8xpq4</a>.
      This repository will contain:
      (<emph>a</emph>) the code used to create the maps, perform the clustering, etc.;
      (<emph>b</emph>) instructions on how to download the data used to carry out the redistricting from the <a href="https://www.census.gov/geography.html">US Census Bureau</a>;
      (<emph>c</emph>) individual maps per state which show the districts as they are and our solutions;
      along with (<emph>e</emph>) links to any other code or materials used.
      </p>

    </div>
    <div class="column">
      <h2>Maps</h2>

      <p>Below are two interactive maps showing the existing districts<span class="single-column-hidden"> (left column)</span><span class="single-column-visible"> (top map)</span> and the results from our weighted <i>k</i>-means algorithm<span class="single-column-hidden"> (right column)</span><span class="single-column-visible"> (bottom map)</span>.
      The colors used are to facilitate viewing and are randomly assigned to each congressional district — except in the case of states with <a href="https://en.wikipedia.org/wiki/At-large#States_with_at-large_congressional_districts">at-large districts</a> (i.e., a single district), which have no color.</p>
      <p>
      Moving your cursor over a state highlights its border in black.
      Clicking on a state zooms both maps in, allowing you to see the state's districts close up for both reality and our solution.
      To find a specific location click on the magnifying glass, on the top left of both maps, to open up a search box.</p>
    </div>
</div>

<div class="row">
  <div class="column">
    <h3>Existing Solution</h3>
    <div id="map" class="synch-map"></div>
  </div>

  <div class="column">
    <h3>Clustering Solution</h3>
    <div id="map1" class="synch-map"></div>
  </div>
</div>

<script async="async" src="{{ site.url }}/scripts/cong_dist.js"></script>
<!-- <script src="./scripts/test.js"></script> -->
